@import url(https://fonts.googleapis.com/css?family=Raleway:400,600italic,900|Roboto:400,300,700,900);

body{
	font: 400 18px/1.33 'Raleway', sans-serif;
	color: #303030;
	background-color: #eeeeee;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in-out, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 17px;
	padding-right: 17px;
	max-width: 1238px;
}
.ba-header {
	font: 18px/1.5 'Roboto', sans-serif;
	color: #303030;
	padding-top: 25px;
	margin-bottom: 80px;
}
.ba-logo {
	font-size: 48px;
	font-weight: 900;
	margin: 0;
}
.ba-logo a {
	text-decoration: none;
	color: #303030;
}
.ba-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
@media (max-width: 959px) {
	.ba-menu {
		display: none;
	}
}
.ba-menu li {
	float: left;
}
.ba-menu a {
	color: #303030;
	text-decoration: none;
	display: block;
	padding: 25px 13px 23px 40px;
	border-radius: 10px;
}
.ba-menu a:hover {
	color: #E10011;
}


.ba-intro {
	background: radial-gradient(closest-side at 68% 50%, #fff, #eee);
	margin-bottom: 185px;
}
.ba-intro__text {
	width: 51%;
	text-align: right;
	font: 300 24px/1.5 'Roboto', sans-serif;
}

.ba-intro__heading {
	font: 900 150px/1 'Raleway', sans-serif;
	text-transform: uppercase;
	margin: 0;
	/* word-wrap: break-word; */
}

.ba-intro__text p{
	margin-bottom: 15px;
}
.ba-intro__open {
	text-decoration: none;
	color: #E10011;
	font-weight: 700;
}
.ba-intro__open:hover {
	color: #000;
}
.ba-intro__img {
	width: 49%;
	padding-left: 110px;
}
@media (max-width: 1219px) {
	.ba-intro__heading {
		font-size: 120px;
	}
}
@media (max-width: 959px) {
	.ba-intro__heading {
		font-size: 100px;
	}
}
@media (max-width: 767px) {
	.ba-intro {
		margin-bottom: 20px;
	}
	.ba-intro__text {
		width: 100%;
		text-align: center;
	}

	.ba-intro__img {
		width: 100%;
		padding: 0;
		text-align: center;
	}
}
@media (max-width: 479px) {
	.ba-intro__heading {
		font-size: 70px;
	}
}
.ba-featured {
	background: #FFF;
	padding: 98px 75px 60px;
}
.ba-featured__headline {
	text-align: center;
	max-width: 585px;
	margin: 0 auto;
	margin-bottom: 73px;
}
.ba-featured__title {
	font-size: 48px;
	font-weight: 900;
	background: url(../img/underline.png) no-repeat;
	padding-bottom: 21px;
	background-position: 50% 100%;
	margin: 0;
}
@media (max-width: 767px) {
	.ba-featured {
		padding: 38px 15px 00px;
	}
}

.ba-box {
	position: relative;
	overflow: hidden;
	border-radius: 5px;

}
.ba-box img {
	display: block;
	width: 100%;
}

.ba-box__mask {
	width: 100%;
	height: 100%;
	position: absolute;
	transform: translateY(-101%);
	top: 0;
	left: 0;
	background: #e10011;
	transition: all .3s ease-in-out;
}
.ba-box__mask > h3 {
	position: absolute;
	bottom: 60px;
	left: 37px;
	margin: 0;
	font: 900 30px 'Roboto', sans-serif;
	color: #FFF;
}
.ba-box__mask:after {
	content: "";
	width: 92px;
	height: 5px;
	background: #FFF;
	position: absolute;
	left: 37px;
	bottom: 42px;
}
.ba-box:hover .ba-box__mask {
	transform: translateY(0);
}
@media (max-width: 767px) {
	.ba-gallery [class*="ba-width-small"] {
		margin-bottom: 20px;
	}
	.ba-grid + .ba-grid {
		margin-top: 0;
	}
	.ba-box__mask > h3 {
		bottom: 30px;
		left: 20px;
		font-size: 25px;
	}
	.ba-box__mask:after {
		left: 20px;
		bottom: 22px;
	}
}

.ba-footer {
	padding: 89px 0  31px 0;
	text-align: center;
}
.ba-footer__headline {
	max-width: 585px;
	margin: 0 auto;
}
.ba-footer__title {
	font-weight: 900;
	font-size: 48px;
	margin: 0;
	margin-bottom: 10px;
}

.ba-form {
	max-width: 700px;
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 109px;
}
.ba-form__email,
.ba-form__button {
	outline: none;
	border: none;
}
.ba-form__email {
	width: 70%;
	padding: 25px;
	border: 1px solid #fff;
	border-radius: 50px 0 0 50px;
	padding-left: 66px;
	background: #fff url(../img/email.png) no-repeat 7% 50%;
}
.ba-form__email[placeholder] {
	color:  #979797;
	font-weight: 600;
	font-style: italic;
}
.ba-form__email:focus {
	border-color: #e10011;
}
.ba-form__button {
	width: 30%;
	text-transform: uppercase;
	border-radius: 0 50px 50px 0;
	background: #e10011;
	color: #FFF;
	font-family: Roboto, sans-serif;
	font-weight: 900;
	line-height: 71px;
}
.ba-form__button:hover {
	background-color: #f92b3b;
}
@media (max-width: 767px) {
	.ba-footer__title {
		font-size: 36px;
	}
	.ba-form__email {
		width: 100%;
		border-radius: 50px 50px;
		font-size: 12px;
	}
	.ba-form__button {
		width: 50%;
		border-radius:  50px 50px;
		font-size: 12px;
		margin-top: 15px;
		line-height: 41px;
	}
}
.ba-social {
	margin-bottom: 58px;
}
[class*="ba-social__link"] {
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px solid transparent;
	transition: border-color 1s ease;
	background: #fff url(../img/spritesheet.png) no-repeat;
}
[class*="ba-social__link"]:hover{
	border: 1px solid red;
}
.ba-social__link_fb {
	background-position: 11px 2px;
}
.ba-social__link_tw {
	margin: 0 15px;
	background-position: -40px 7px;
}
.ba-social__link_yt {
	background-position: -101px 2px;
}


.ba-copyright {
	color: #979797;
}
.ba-copyright a {
	color: #303030;
	text-decoration: none;
}
.ba-copyright a:hover {
	color: #f72b3b;
}
